<div class="coming-soon-logo">
    <div class="jvlogo__inner">
        <img src="https://cdn.shopify.com/s/files/1/0730/8270/0008/files/Logo_JohnVarvatos-Black.png?v=1744339191" alt="Logo" width="200">
    </div>
  </div>