@use 'mixin' as *;

#shopify-section-template--18777344114920__coming_soon {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 80%;
    display: block;
    margin: 0 auto;

    @include mq(pc) {
      max-width: 100%;
    }
  }
}

.newsletter {
  background: url('https://cdn.shopify.com/s/files/1/0730/8270/0008/files/Hero_JVSP25_S05_043.jpg?v=1744273101') no-repeat 70% 0 / cover;
  height: 80vh;

  .newsletter__wrapper {

    h2,
    p {
      color: #fff;
    }

    p {
      font-size: 13px;
      letter-spacing: 1.5px;
      font-weight: 300;

      @include mq(tab) {
        font-size: 16px;
      }
    }

    h2 {
      font-size: clamp(28px, 3vw, 6rem);
    }
  }
}

.wt-footer__body {
  display: none !important;
}

.wt-footer__aside-block.wt-footer__aside-block--payment {
  display: none;
}